<!--  Generated using Simple form gem -->

<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :firstname, :label => "First Name" %>
    <%= f.input :lastname , :label => "Last Name" %>
    <%= f.input :address , :label => "Address" %>
    <%= f.input :medical_license, :label => "Medical Licence" %>
    <%= f.input :pps_num, :label => "PPS" %>
  </div>
  <br>

  <!--  Update Profile Button-->
  <div style="display: flex; float: left;">
    <%= f.button :submit , class: "btn btn-success btn-m" %>
  </div>
<% end %>

