<div class="jumbotron" id="custom_jumbo">
      <p id="notice"><%= notice %></p>
      <h1>Profiles</h1>
      <table class="table table-hover table-bordered border border-dark">
        <thead class="table-light">
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Address</th>
            <th>Medical license</th>
            <th>Pps num</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @profiles.each do |profile| %>
            <tr>
              <td><%= profile.firstname %></td>
              <td><%= profile.lastname %></td>
              <td><%= profile.address %></td>
              <td><%= profile.medical_license %></td>
              <td><%= profile.pps_num %></td>
              <td><%= link_to 'Show', profile, class: "btn btn-outline-success" %></td>
              <td><%= link_to 'Edit', edit_profile_path(profile), class: "btn btn-outline-info" %></td>
              <td><%= link_to 'Destroy', profile,  class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <!--= link_to 'New Profile-b', new_profile_path, class:"btn btn-outline-success" %>  -->

  <!--Display a button New Profile only if the Doctor has not created one  %>  -->
    <% if current_user.profile.id? %>
        <h3> This are your Profile settings Dr <%= MyDecorator.new(@profile).split_email(current_user.email) %>!</h3>

   <% else %>
        <%= link_to 'New Profile', new_profile_path, class:"btn btn-outline-success" %>

 <% end %>


</div>