<div class="jumbotron" id="custom_jumbo">

<h5>Comments in Article: <%= (@article.title) %></h5>

<!-- View article comments  -->
<% for comment in @comments %>
  <div class="card">
    <div class="card-block">

      <li><h6><span class="fas fa-at " style="width:20px;color:black;font-weight:bold;font-size:14px"></span><%=(comment.content)%></h6></li>

      <h5 class="card-text" style="color:black;font-size:11px"> Commented By: <%= comment.user.email %> </h5>

      <br>
      <br>
      <!-- display, Show Edit, Delete for User who wrote the comment and Admin -->
      <% if current_user && (comment.user == current_user || current_user.admin?) %>
<!--        Users buttons"--->
          <%= link_to 'Show', article_comment_path(@article, comment), class: "btn btn-success" %>

          <%= link_to "Edit", edit_article_comment_path(@article,comment), class: "btn btn-outline-info" %>

          <%#= link_to "Delete", article_comment_path(@article, comment), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>

      <% end %>

    </div>
  </div>

<% end %>
<br>
<!--  Display Back button -->
<% if current_user || current_user.admin%>

    <!--%= link_to 'Back', article_path(@article) %-->
    <%= link_to "Back", article_path(@article), class: "btn btn-outline-primary" %>

<%end %>
</div>