<!DOCTYPE html>
<html>
<head>
  <title>Welcome to MediCare</title>
  <%= csrf_meta_tags %>
  <br>
  <br>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <br>
  <!--Load the Weather Widget https://openweathermap.org/widgets-constructor  -->
  <div id="openweathermap-widget-19"></div>
  <script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];
  window.myWidgetParam.push({id: 19,cityid: '2964574',appid: 'b8e3c67a47ab91792a2201ee53a799bd',units: 'metric',containerid: 'openweathermap-widget-19',  });
  (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
  var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>

  <div class="jumbotron">
    <h1 class="display-4">MediCare</h1>
    <!--Load the Breadcrumbs last session ID ()  -->
    <% if @breadcrumbs && @breadcrumbs.any? %>
      <div class ='alert alert-info'>
        <% @breadcrumbs[0..0].each do |breadcrumb| %>
          <p>Your last recorded session :<%= link_to breadcrumb , breadcrumb %></p>
        <% end %>
      </div>
    <%end%>
  </div>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<div class="overlay"></div>
<div class="masthead" data-turbolinks="false">
  <div class="masthead-bg"></div>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="masthead-content text-white py-5 py-md-0">
          <!--Link to custom image --->
          <%= link_to image_tag("healthcare.jpg", :class => "img-fluid"), "/" %>
          <div class="row"><br></div>
          <!--yield rendering page --->
          <%= yield %>
          <div class="container">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>

